<?xml version="1.0" encoding="utf-8" ?>
<DiscordClientConfig configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
    <CipherData>
      <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAMXmquZxBzUOY60vyst0chwQAAAACAAAAAAAQZgAAAAEAACAAAADgLrDiBbzjtRl2nZoGqUcXfxKrCHZRLWnHFBbMCLVTyAAAAAAOgAAAAAIAACAAAADCBUpoBaNizmrMTXzSl6t6JolOruMUthp5JEmOUD/0qSABAAD/K9AcRRf2dmlr/dbRDjePf+agXkd/D1SmPcbs6LuJKs5c5KXmFady3hgfUJ4hwLjW9n1NZ1CVIRNseIeCvnRoF2r81MRTq6zwOev6uzUr/TTUunlP1QTL9q/yLCDJWG0tF7MHKO8D0ULTsQFjRFZ/auTPLeoiqCurtv74SUwabNG6zEcHgjYaH4JEULmHg455osO3Za7AVGuhdbt6XuegOdXfspWvXu0Pl9fSZlbvybV+7Zyggohf9l8V9NySOgPwXQKpNgoVo8kNtdiPi8dzcMLxmhMneBKrgDwJIFVhQ7dC3bfO1HHSNkfXAnIXlXYzj/Zai8yWGoHD6dmE940jm4f35vD7UXQCUhzfDFk95SSwOWDjswtMGi4tzKcfgAFAAAAAjKBCqNanbzU0S8o4VohkMnFL+oN8qw9/y4D9IPJHJ9kejxcIQXzyCoCdI2FAjPVPxJt28yhZhNHtRMOxR/O38A==</CipherValue>
    </CipherData>
  </EncryptedData>
</DiscordClientConfig>