<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DbConfig" type="System.Configuration.AppSettingsSection"/>
    <section name="DiscordClientConfig" type="System.Configuration.AppSettingsSection"/>
  </configSections>
  
  <DbConfig configSource="ShardedConfigs/DbConfig.config" />
  <DiscordClientConfig configSource="ShardedConfigs/DiscordClientConfig.config" />
</configuration>